<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <listener-class>com.bios.utilities.Config</listener-class>
    </listener>
    <servlet>
        <servlet-name>AdminBootstrapServlet</servlet-name>
        <servlet-class>com.bios.controller.AdminBootstrapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDropBidServlet</servlet-name>
        <servlet-class>com.bios.controller.StudentDropBidServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDropSectionServlet</servlet-name>
        <servlet-class>com.bios.controller.StudentDropSectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageNotFoundServlet</servlet-name>
        <servlet-class>com.bios.controller.PageNotFoundServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BootstrapService</servlet-name>
        <servlet-class>com.bios.controller.services.BootstrapService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBidService</servlet-name>
        <servlet-class>com.bios.controller.services.DeleteBidService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DumpBidService</servlet-name>
        <servlet-class>com.bios.controller.services.DumpBidService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DumpTableService</servlet-name>
        <servlet-class>com.bios.controller.services.DumpTableService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAuthenticationServlet</servlet-name>
        <servlet-class>com.bios.controller.LoginAuthenticationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentHomeServlet</servlet-name>
        <servlet-class>com.bios.controller.StudentHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHomeServlet</servlet-name>
        <servlet-class>com.bios.controller.AdminHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BiddingRoundServlet</servlet-name>
        <servlet-class>com.bios.controller.BiddingRoundServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BidPlacementServlet</servlet-name>
        <servlet-class>com.bios.controller.BidPlacementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBidServlet</servlet-name>
        <servlet-class>com.bios.controller.DeleteBidServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDropBidServlet</servlet-name>
        <servlet-class>com.bios.controller.StudentDropBidServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDropSectionServlet</servlet-name>
        <servlet-class>com.bios.controller.StudentDropSectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BiddingRoundServlet</servlet-name>
        <servlet-class>com.bios.controller.BiddingRoundServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLiveBiddingTableServlet</servlet-name>
        <servlet-class>com.bios.controller.services.GetLiveBiddingTableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenticationService</servlet-name>
        <servlet-class>com.bios.controller.services.AuthenticationService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBidService</servlet-name>
        <servlet-class>com.bios.controller.services.UpdateBidService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BidStatusService</servlet-name>
        <servlet-class>com.bios.controller.services.BidStatusService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartRoundService</servlet-name>
        <servlet-class>com.bios.controller.services.StartRoundService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentCalendarBidService</servlet-name>
        <servlet-class>com.bios.controller.services.StudentCalendarBidService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DropSectionService</servlet-name>
        <servlet-class>com.bios.controller.services.DropSectionService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DumpUserService</servlet-name>
        <servlet-class>com.bios.controller.services.DumpUserService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DumpSectionService</servlet-name>
        <servlet-class>com.bios.controller.services.DumpSectionService</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AdminBootstrapServlet</servlet-name>
        <url-pattern>/bootstrap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAuthenticationServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentHomeServlet</servlet-name>
        <url-pattern>/student_home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHomeServlet</servlet-name>
        <url-pattern>/admin_home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BiddingRoundServlet</servlet-name>
        <url-pattern>/BiddingRoundServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BidPlacementServlet</servlet-name>
        <url-pattern>/bidSection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBidServlet</servlet-name>
        <url-pattern>/deleteBid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDropBidServlet</servlet-name>
        <url-pattern>/student_drop_bid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDropSectionServlet</servlet-name>
        <url-pattern>/student_drop_section</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BiddingRoundServlet</servlet-name>
        <url-pattern>/clear_round_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLiveBiddingTableServlet</servlet-name>
        <url-pattern>/getLiveBiddingTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageNotFoundServlet</servlet-name>
        <url-pattern>/page_not_found</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticationService</servlet-name>
        <url-pattern>/json/authenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BootstrapService</servlet-name>
        <url-pattern>/json/bootstrap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBidService</servlet-name>
        <url-pattern>/json/delete-bid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DumpTableService</servlet-name>
        <url-pattern>/json/dump</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StopRoundService</servlet-name>
        <url-pattern>/json/stop</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StopRoundService</servlet-name>
        <servlet-class>com.bios.controller.services.StopRoundService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateBidService</servlet-name>
        <url-pattern>/json/update-bid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartRoundService</servlet-name>
        <url-pattern>/json/start</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentCalendarBidService</servlet-name>
        <url-pattern>/get_student_bid_calendar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DropSectionService</servlet-name>
        <url-pattern>/json/drop-section</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DumpUserService</servlet-name>
        <url-pattern>/json/user-dump</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DumpSectionService</servlet-name>
        <url-pattern>/json/section-dump</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DumpBidService</servlet-name>
        <url-pattern>/json/bid-dump</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BidStatusService</servlet-name>
        <url-pattern>/json/bid-status</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/GlobalPages/login.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/page_not_found</location>
    </error-page>
</web-app>
